/*=splash page
-------------------------------------------------------------------------*/

.page-template-splash_page .ui-autocomplete.ui-widget-content {
    max-height: 200px !important;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-template-splash_page {
    height: 100%;
}

.page-template-splash_page #all_wrapper{
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.page-template-splash_page .wpestate_header_video,
.page-template-splash_page .wpestate_header_image {
    height: 100% !important;
    position: absolute;
    top: 0px;
}

.page-template-splash_page .with_search_on_end,
.page-template-splash_page .with_search_on_start {
    display: none;
}


.page-template-splash_page .heading_over_video_wrapper,
.page-template-splash_page .heading_over_image_wrapper {
    top: 45%
}


.page-template-splash_page .carousel-control.right,
.page-template-splash_page .carousel-control.left {
    z-index: 999;

    display: flex;
    align-content: center;
    align-items: center;
}

#splash_slider_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    .carousel-inner {
        position: relative;
        height: 100%;
        min-height: inherit;
    }
}
.splash_slider_item {
    width: 100%;
    height: 100%;
    @include background-cover; 
    min-height: inherit;
    top: 0px;
    left: 0px;
    position: relative;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
}

#splash_slider_wrapper .carousel-item.splash_slider_item.active,
#splash_slider_wrapper .carousel-item.splash_slider_item.carousel-item-next,
#splash_slider_wrapper .carousel-item.splash_slider_item.carousel-item-prev {
    opacity: 1;
}


#footer_alert-agent-contact_sh {
    width: 100%;
    max-width: 100%;

}
